.container {
    margin: 0 auto;
	box-sizing: border-box;
	width: fit-content;
	block-size: fit-content;
  	height: fit-content;
    padding: 10px;
}

.todo-input-wrapper {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
}

.todo-input {
	height: 25px;
	width: 300px;
	border: 2px solid rgba(0,0,0,0.5);
    text-align: center;
    font-family: "Helvetica";
    padding: 10px;
}

.todo-list {
	resize: both;
	overflow: auto;
	height: 600px;
	width: 300px;
	border: 2px solid rgba(0,100,100,0.5);
	padding:20px;
	box-sizing: border-box;
  	outline: none;
    margin: 0 auto;
}

.bottom-container {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.buttons {
	height: fit-content;
	width: fit-content;
    margin: 0 auto; 
}

.std-button {
	background-color: rgba(0,200,200,0.2);
	width: auto;
  	color: rgb(0, 0, 0);
  	padding: 15px 20px;
  	text-align: center;
  	text-decoration: none;
	display: inline-block;
  	font-size: 12px;	
    border: 1px solid rgba(0, 200, 200, 0.1);
}

.completed-tasks{
	background-color: rgba(0, 200, 200, 0.1);
	width:   200px;
  	height:  fit-content;
  	padding: 10px;
  	border:  1px solid rgba(0,150,100,0.7);
  	box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.main-heading{
	font-family: "Segoe UI", Arial;
	color: rgb(0,200,200);
    text-align: center;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.4;
    color: rgb(4,4,4);
    background: rgb(255, 255, 255);
    height: 100vh;
}
